@import mixins/templates
@import mixins/colors

$button-height: 32px

.cc-expandingCard-appContainer
	+sansSerif
	+transitionQuick
	box-sizing: border-box
	overflow: hidden

	.cc-cardContainer
		+cardWithShadow	

	h2, h4, h6 
		+sansSerif
		margin: 0
	
	h2.cc-cardTitle
		font-size: 24px
		font-weight: 800
		line-height: 22px
		text-transform: uppercase
		margin-bottom: 16px
		color: $color-neutral-dark
	
	h3.cc-crosshead
		text-transform: uppercase
		margin-bottom: 0
		margin-top: 32px

	h4.cc-cardIntro
		font-size: 20px
		font-weight: 300
		line-height: 24px
		margin-bottom: 24px

	h6.cc-cardKicker
		text-transform: uppercase
		font-size: 16px
		font-weight: 400
		line-height: 14px
		margin-bottom: 8px
		color: $color-blue

	p.cc-cardText
		letter-spacing: 0.5px
		font-size: 16px
		line-height: 24px
		margin: 0
		margin-bottom: 16px

	div.cc-cardBodyContainer
		+sansSerif
		position: relative
		font-size: 16px
		line-height: 24px
		overflow: hidden	
		height: auto
		max-height: 0
		opacity: 0
		margin-bottom: 16px

	ul.cc-listContainer
		padding-top: 16px
		margin-bottom: 32px
		padding: 0 32px
	

	div.cc-inlineImageContainer
		position: relative
		border: solid 1px $color-neutral-midlight
		border-radius: 4px
		margin-bottom: 24px
		div.cc-inlineImage
			img
				width: 100%
		div.cc-imageCaptionContainer
			position: absolute
			bottom: 0
			width: 100%
			padding: 16px
			+fade-dark-up
			color: #ffffff
			p
				margin: 0
			p.cc-caption
				font-weight: 600
				font-size: 14px
				line-height: 16px
				margin-bottom: 0
			p.cc-credit
				font-weight: 300
				margin-bottom: 8px


	div.cc-button
		position: absolute
		right: 0
		bottom: 0
		display: inline-block
		width: 100%
		color: $color-neutral-middark
		text-align: right
		font-size: 12px
		font-weight: 600
		line-height: 16px
		letter-spacing: 2px
		text-transform: uppercase
		cursor: pointer
		padding: 16px
		i.material-icons
			vertical-align: middle
			line-height: 16px
			font-size: 24px
			margin-left: 8px

	.cc-appDesktop
		div.cc-button:hover
			background-color: $color-neutral-light
			color: $color-neutral-dark


	a.cc-linkButton
		text-decoration: none
		padding: 0
		color: $color-neutral-middark
		font-weight: 400
		div.cc-buttonTextContainer
			+sansSerif
			margin-bottom: 24px
			position: relative
			line-height: $button-height
			height: $button-height
			font-size: 16px
			overflow: hidden
			border: solid 1px $color-neutral-light
			border-radius: 2px
			vertical-align: middle
			span.cc-buttonIcon
				position: relative
				vertical-align: baseline
				background-color: $color-neutral-light
				padding: $button-height 8px
				margin-right: 8px
				img
					height: $button-height/2
					vertical-align: middle

		.cc-appDesktop
			div.cc-buttonTextContainer:hover
				background-color: $color-neutral-light
				border-color: $color-neutral-midlight
				color: $color-neutral-dark
					
	
	div.cc-headerContainer
		margin-bottom: 24px
		overflow: auto

	div.cc-headerTextContainer
		position: relative

	div.cc-headerImageContainer
		position: relative
		float: right
		width: 50%
		max-width: 300px
		height: auto
		overflow: hidden
		border-radius: 4px
		border: solid 1px $color-neutral-midlight
		margin-left: 16px
		div.cc-headerImage-thumb
			overflow: auto
			img
				width: 100%
				height: auto


